@charset "UTF-8";
body {
    margin: 0;
}
.wrapper {
    overflow: hidden;
}
.item {
    float: left;
    margin: 8px 0 8px 8px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 300px;
}
.item h3 {
    font-size: 16px;
    margin: 0.5em 0 0.5em 0;
}
.item p {
    margin: 0;
    font-size: 14px;
}
