@charset "UFT-8"
a {
    color: #0073bc;
    text-decoration: none;
}
a:link {
    color: #0073bc;
    text-decoration: none;
}
a:visited {
    color: #02314c;
    text-decoration: none;
}
a:hover {
    color: #b7dbf2;
    text-decoration: underline;
}
a:active {
    color: #4ca4e8;
}
