@charset "UTF-8";
.item {
    border: 1px solid #cccccc;
    padding: 8px;
    width: 300px;
}
.item h3 {
    margin: 0.5em 0 0.5em 0;
    font-size: 14px;
    color: #666666;
}
.item p {
    margin: 0;
    font-size: 14px;
    color: #666666;
}
