@charset "UTF-8";
.sidebar {
    padding: 8px;
    border: 1px solid #ccc;
    width: 300px;
}
.subnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.subnav li {
    overflow: hidden;
    margin: 1em 0 1em 0;
}
.subnav .thumb {
    float: left;
    width: 100px;
}
.subnav .summary {
    margin: 0 0 0 108px;
}
.subnav a {
    text-decoration: none;
}
